<link rel="stylesheet" href="css/main.css">
<header>
<nav class="navbar navbar-default" style="background-color: #00a9ff">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"> </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#!ImageDetails"><i class="fa fa-home fa-3x" style="color:white"></i></a></li>
            <li><a href="#!ImageUpload"><i class="fa fa-upload fa-3x" style="color:white"></i></a></li>
            <li><img src="" ></li> 
        </ul>
    </div>
</nav>
</header>
<body>
    <div style="text-align:center" class="image-upload">
        <label for="file-input">
            <img src="images/imageupload.png">
        </label>
<input id="file-input" type="file" style="display:none"/>
</div>
</body>